<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.example.myapi">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />

    <application
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@drawable/movie"
        android:label="@string/app_name"
        android:roundIcon="@drawable/movie"
        android:supportsRtl="true"
        android:theme="@style/Theme.MyApi"
        android:usesCleartextTraffic="true"
        tools:targetApi="31"
        tools:ignore="ExtraText">

        <activity
            android:name=".vista.DescriCategorias"
            android:exported="false"
            android:screenOrientation="portrait"/>
        <activity
            android:name=".vista.DescripciondeFavorito"
            android:exported="false"
            android:screenOrientation="portrait"/>
        <activity
            android:name=".vista.VistaFavoritos"
            android:exported="false"
            android:screenOrientation="portrait"/>
        <activity
            android:name=".vista.VistaDescripcion"
            android:exported="false"
            android:screenOrientation="portrait">
            <meta-data
                android:name="android.app.lib_name"
                android:value="" />
        </activity>
        <activity
            android:name=".vista.VistaBusqueda"
            android:exported="false"
            android:screenOrientation="portrait">
            <meta-data
                android:name="android.app.lib_name"
                android:value="" />
        </activity>
        <activity
            android:name=".vista.VisataTop"
            android:exported="false"
            android:screenOrientation="portrait">
            <meta-data
                android:name="android.app.lib_name"
                android:value="" />
        </activity>
        <activity
            android:name=".vista.VistaProximo"
            android:exported="false"
            android:screenOrientation="portrait">
            <meta-data
                android:name="android.app.lib_name"
                android:value="" />
        </activity>
        <activity
            android:name=".vista.VistaPopular"
            android:exported="false"
            android:screenOrientation="portrait">
            <meta-data
                android:name="android.app.lib_name"
                android:value="" />
        </activity>
        <activity
            android:name=".vista.Vista"
            android:exported="false"
            android:screenOrientation="portrait" />
        <activity
            android:name=".MainActivity"
            android:exported="true"
            android:screenOrientation="portrait">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>